body{
    
    background-image: url('../../images/cozinhapaper1.jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
}

